@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;

    --dark: #28292A;
    --sunglow: #FFCD29;
    --violet: #6300E5;
    --silver: #B5B8BA;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.7rem 10vh;
}

.header ul{
    display: flex;
    list-style: none;
    gap: 1.3rem;
}

.header a{
    color: var(--silver);
    text-decoration: none;
    font-weight: 500;
    font-size: 13px;
    transition: .2s all;
}

.signup{
    background-color: #6300E5;
    padding: 0.3rem 0.7rem;
    border-radius: 3px;
    transition: .2s all;
}

.header li{
    transition: .2s all;
}

.header li:hover{
    transform: scale(1.1);
}

.signup:hover{
    background-color: #8528ff;
    color: aliceblue;
}

.header a:hover{
    color: aliceblue;
}

.header .logo span{
    color: var(--violet);
}

.header h1{
    color: var(--dark);
    text-shadow: 0px 0px 5px black;
}

.menu-btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    display: none;
}

.menu-btn-burger{
    width: 50px;
    height: 4px;
    background: var(--violet);
    border-radius: 4px;
    transition: all .5s ease-in-out;
}

.menu-btn-burger::before,
.menu-btn-burger::after{
    content: '';
    position: absolute;
    width: 50px;
    height: 4px;
    background: var(--violet);
    border-radius: 4px;
    transition: all .5s ease-in-out;
}

.menu-btn-burger::before{
    transform: translateY(-14px);
}

.menu-btn-burger::after{
    transform: translateY(14px);
}

.menu-btn.open .menu-btn-burger{
    transform: translateX(-50px);
    background: transparent;
}

.menu-btn.open .menu-btn-burger::before{
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn-burger::after{
    transform: rotate(-45deg) translate(35px, 35px);
}

body, html {
    overflow: hidden;
}

.menu-responsive{
    background-color: #28292A;
    display: none;
    flex-direction: column;
    height: 87vh;
    justify-content: space-evenly;
    transition: .5s all;
    overflow: hidden;
    left: 100%;
    position: relative;
}

.menu-responsive ul{
    height: 87vh;
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    z-index: 3;
}

.menu-responsive li{
    transition: .2s all;
}

.menu-responsive a{
    text-decoration: none;
    color: aliceblue;
    font-size: 1.3rem;
    cursor: pointer;
}

.menu-responsive li:hover{
    transform: scale(1.1);
}

.menu-toggle{
    left: 0;
}


body{
    background-color: #28292A;
    height: 100vh;
    overflow: hidden;
    background-image: repeating-radial-gradient( circle at 0 0, transparent 0, #28292A 10px ), repeating-linear-gradient( #8528ff55, #8528ff );
}

.container{
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90vw;
    z-index: -1;
}

.bg-gradient{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(0deg, transparent, rgba(0, 0, 0, 0.835));
    position: absolute;
    z-index: 1;
    overflow: hidden;
}

.container .text{
    padding-inline: 4rem;
    font-size: 13px;
    font-weight: 400;
    color: var(--silver);
    text-shadow: 0px 0px 7px black;
    line-height: 1.4rem;
    max-width: 700px;
}

.container .text .span{
    font-size: 42px;
    line-height: 3.5rem;
    margin-bottom: 2rem;
    font-weight: 600;
    color: aliceblue;
}

.container .btn{
    text-decoration: none;
    display: inline-block;
    color: var(--silver);
    font-weight: 600;
    text-shadow: none;
    margin-top: 1.4rem;
    border-radius: 0.3rem;
    padding: 0.4rem 1.4rem;
    background-color: #6300E5;
    transition: .2s all ease-out;
}

.container .btn:hover{
    transform: scale(1.1);
    background-color: var(--dark);
    border: 1px solid var(--silver);
}

.container .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.657));
}

.footer{
    color: var(--silver);
    font-weight: 500;
    bottom: 0;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4rem 0rem;
    background-color: #28292A;
}

@media (max-width: 600px){
    .menu{
        display: none;
    }
    .menu-btn, .menu-responsive{
        display: flex;
    }    
}

@media (max-width: 800px){
    .header{
        padding-inline: 5vh;
    }
    
    .header a{
        font-size: 12px;
    }


    .container .image{
        display: none;
    }

    .container{
        text-align: center;
    }

    .container span{
        font-size: 37px;
    }
}

@media (min-width: 1600px){
    img {
        width: 700px;
    }
}

@media (min-width: 1400px){
    img {
        width: 550px;
    }
}
